{%extends 'all-sites/base.html'%} {% block content %} {{block.super}}

<div class="container home-pg">
    

    <div class="row">

        <div class="col-xs-1"></div>
        <div class="col-xs-4">
            {% include 'partials/_alerts.html' %}
            <div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{request.user.first_name}}'s Profile</h4>
            </div>
            <div class="panel-body">
                
                <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                    <div class="container">
                        <h2>{{site_item.developer}}</h2>

                    </div>
                    <hr>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
            <p> <span class="text-muted">Bio: </span>{{user_profile.bio}}</p>
            <p class="card-text">Contact: {{user_profile.phone_number}}</p>
            <h5 class="text-muted">Developer: <span class="bolden">{{request.user}}</span></h5>
            <h5 class="text-muted">Profile Picture <img src="{{user_profile.profile_pic.url}}"></h5>
            <h3 class="text-muted">Sites Uploaded</h3>

        
            <ul class="container details">
                        
                        {% for site_item in site %}
                        <li>
                            <p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>{{site_item.title}}</p>
                            
                        </li>
                        {%endfor%} 
            </ul>        



        </div>
    </div>
</div>


{% endblock %}