<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar navbar-inverse" style="background-color: rgb(255, 255, 255);">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'siteToday' %}">
                    <h3>awwwards.</h3>
                </a>
            </div>
        </div>
    </nav>
</body>

</html>